<div class='container text-center'>
  <h1 class='my-5'>Welcome back, {{name}}!</h1>
  <p class="fs-1">{{{message}}}</p>

  <form method="POST" action="/logout">
    <button type="submit" class="btn btn-primary px-5 py-2">Logout</button>
  </form>
</div>